
.DS_Store
.AppleDouble
.LSOverride
.idea

Icon



._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns


.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk




# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache


*.sublime-workspace

*.sublime-project


sftp-config.json